<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="../assets/img/sidebar-1.jpg">
        <div class="logo">
            <a href="#" class="simple-text">
                EMS v0.1
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li ng-class="getClass('/dashboard')">
                    <a href="#!dashboard" ng-click="menuItemClicked()">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li ng-class="getClass('/employees/create')">
                    <a href="#!/employees/create" ng-click="menuItemClicked()">
                        <i class="material-icons">person</i>
                        <p>Add New Employee</p>
                    </a>
                </li>
                <li ng-class="getClass('/departments')">
                    <a href="#!/departments" ng-click="menuItemClicked()">
                        <i class="material-icons">content_paste</i>
                        <p>Manage Departments</p>
                    </a>
                </li>
                <li ng-class="getClass('/positions')">
                    <a href="#!/positions" ng-click="menuItemClicked()">
                        <i class="material-icons">content_paste</i>
                        <p>Manage Positions</p>
                    </a>
                </li>
                <li ng-class="getClass('/users/create')">
                    <a href="#!/users/create" ng-click="menuItemClicked()">
                        <i class="material-icons">person</i>
                        <p>Add New System User</p>
                    </a>
                </li>
                <li ng-class="getClass('/users')">
                    <a href="#!/users" ng-click="menuItemClicked()">
                        <i class="material-icons">content_paste</i>
                        <p>Manage System Users</p>
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="logout()">
                        <i class="material-icons">power_settings_new</i>
                        <p>Logout</p>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="openNavigationDrawer()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> Employee Management System - MEAN Stack </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Logout" ng-click="logout()">
                                <i class="material-icons">power_settings_new</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>