<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header" data-background-color="red">
              <h4 class="title">Add New System User</h4>
          </div>
          <div class="card-content">
            <form ng-submit="addUser(user)">
              <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" class="form-control" id="name" ng-model="user.username" required>
              </div>
              <div class="form-group">
                <label for="name">Password:</label>
                <input type="password" class="form-control" id="name" ng-model="user.password" required>
              </div>
              <div class="form-group">
                <label for="name">First name:</label>
                <input type="text" class="form-control" id="name" ng-model="user.fname" required>
              </div>
              <div class="form-group">
                <label for="name">Last name:</label>
                <input type="text" class="form-control" id="name" ng-model="user.lname" required>
              </div>
              <div class="form-group">
                <label for="dept">User Role:</label>
                <select ng-model="user.role">
                  <option value="Admin">Admin
                  <option value="User">User
              </select>
              </div>
              <button type="submit" class="btn btn-success">Save</button>
              <a href="#!/employees" class="btn btn-danger"> Cancel</a>
          </form>
          </div>
      </div>
  </div>
</div>