<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header" data-background-color="red">
              <h4 class="title">Add New Employee</h4>
          </div>
          <div class="card-content">
            <form ng-submit="addEmployee()" ng-init="getDepartments()">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" ng-model="employee.name" required>
              </div>
              <div class="form-group">
                <label for="dept">Department:</label>
                <select id="departmentSelector" ng-model="employee.dept" required>
                  <option ng-repeat="x in departments">{{x.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="area">Location:</label>
                <input type="text" class="form-control" id="area" ng-model="employee.area" required>
              </div>
              <div class="form-group">
                <label for="contact">Contact No. :</label>
                <input type="text" class="form-control" id="contact" ng-model="employee.contact" required>
                <div class="form-group">
                <label for="status">Job Status :</label>
                <input type="text" class="form-control" id="status" ng-model="employee.status">
                <div class="form-group">
                <label for="salary">Salary :</label>
                <input type="number" class="form-control" id="salary" ng-model="employee.salary" required>
              </div>
              <button type="submit" style="color:#5bc0de;" class="btn btn-default">Save</button>
              <a href="#/employees" class="btn btn-default"> Cancel</a>
          </form>
          </div>
      </div>
  </div>
</div>