<div class="card-content table-responsive" ng-init="showSysUser()">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Edit User</h4>
      </div>
      <div class="card-content">
        <form>
          <div class="form-group">
            <label for="name">Username:</label>
            <input type="text" class="form-control" id="name" ng-model="user.username" value="user.username">
          </div>
          <div class="form-group">
            <label for="name">Firstname:</label>
            <input type="text" class="form-control" id="name" ng-model="user.firstname" value="user.firstname">
          </div>
          <div class="form-group">
            <label for="name">Lastname:</label>
            <input type="text" class="form-control" id="name" ng-model="user.lastname" value="user.lastname">
          </div>
          <div class="form-group">
            <label for="dept">User Role:</label>
            <select ng-model="user.role">
              <option value="Admin" selected>Admin</option>
              <option value="User">User</option>
            </select>
          </div>
              <button type="submit" class="btn btn-success" ng-click="updateUser()">Update</button>
              <a href="#!/users" class="btn btn-danger"> Cancel</a>
        </form>
        </div>
        </div>
      </div>
    </div>