<div class="card-content table-responsive" ng-init="showSelectedPosition()">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Edit Position</h4>
      </div>
      <div class="card-content">
        <form>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" ng-model="position.name" value="position.name">
          </div>
          <button type="submit" class="btn btn-success" ng-click="updatePosition()">Update</button>
          <a href="#!/dashboard" class="btn btn-danger"> Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
