<div class="panel panel-default" ng-init="showSelectedDepartment()">
  <div class="panel-heading">
    <p class="panel-title">
      <span style="color:#5bc0de;" class="glyphicon glyphicon-edit"> </span> Edit Department</p>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="department.name" value="department.name">
      </div>
      <button type="submit" style="color:#5bc0de;" class="btn btn-default" ng-click="updateDepartment()">Update</button>
      <a href="#!/dashboard" class="btn btn-default"> Cancel</a>
    </form>
  </div>
</div>