<div class="col-md-12" ng-init="getEmployees()">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Employees</h4>
			<p class="category">Here is a employee list</p>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>Name</th>
					<th>Department</th>
					<th>Location</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td class="text-primary">{{ employee.name }}</td>
						<td>{{ employee.dept }}</td>
						<td>{{ employee.area }}</td>
						<td>
							<a href="#!/employees/{{employee._id}}/show" class="btn btn-info "> Show </a>
							<a href="#!/employees/{{employee._id}}/edit" class="btn btn-success">
								<span class="glyphicon glyphicon-edit"> </span> Edit </a>
							<a ng-click="deleteEmployee(employee._id)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"> </span> Delete </a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{{JaSamAdmin}}