<div class="row">
	<div class="col-md-12" ng-init="getPositions()">
		<div class="card">
			<div class="card-header" data-background-color="red">
				<h4 class="title">Company Posotion Management</h4>
			</div>
			<div class="card-content table-responsive">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header" data-background-color="blue">
							<h4 class="title">Add New Position</h4>
						</div>
						<div class="card-content">
							<form>
								<div class="form-group">
									<label for="name">Position Name:</label>
									<input type="text" class="form-control" id="name" ng-model="position.name" required>
								</div>
								<a href="#" class="btn btn-info" ng-click="addPosition()"> Add Position </a>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						<div class="card-header" data-background-color="blue">
							<h4 class="title">Positions List</h4>
						</div>
						<div class="card-content">
							<table class="table">
								<thead class="text-primary">
									<th>Name</th>
									<th>Actions</th>
								</thead>
								<tbody>
									<tr ng-repeat="x in positions">
										<td class="text-primary">{{ x.name }}</td>
										<td>
											<a href="#!/positions/{{x._id}}/edit" class="btn btn-success">
												<span class="glyphicon glyphicon-edit"> </span> Edit </a>
											<a ng-click="deletePosition(x._id)" class="btn btn-danger">
												<span class="glyphicon glyphicon-trash"> </span> Delete </a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>